#login{
    margin-left: 35%;
    margin-right: 35%;
    padding: 5%;
    border: 5px solid black;
    border-radius: 2%;
    background-color: #f0f0f0;
}

footer{
    margin-top: 9%;
    padding-top: 2%;
    border-top: gray 1px solid;
    text-align: center;
}

header{
    display: flex;
}